<article>
	<h1>Sorting Methods</h1>
	<p>
		Ruby takes a number of different approaches to sorting.
	</p>
	<h2>Sort</h2>
	<%= render partial: 'sources/Array/method_i_sort_21' %>
		
	<%= link_to benchmarks_sort_bang_url, class: 'getBenchmark' do %>
		<h3>Benchmarks</h3>
		<% end %>
	<div class="output"></div>
	<%= render partial: 'sources/Array/method_i_sort' %>
	<%= link_to benchmarks_sort_url, class: 'getBenchmark' do %>
		<h3>Benchmarks</h3>
	<% end %>
	<div class="output"></div>
		
	<%= render partial: 'sources/Enumerable/method_i_sort' %>
	
	<h2>Sort By</h2>
	<%= render partial: 'sources/Enumerable/method_i_sort_by'%>
	<%= render partial: 'sources/Array/method_i_sort_by_21' %>

</article>
